@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div>
        <img src="~/images/concode-home-page-banner.jpg" alt="ASP.NET" class="img-responsive" />
    </div>
    

<div class="row">
    <div class="col-md-3">
        <div class="well well-lg text-center">
            <h2 style="font-size:4em; font-weight:300;">172</h2>
            <p>Speakers</p>
        </div>
    </div>
    <div class="col-md-3">
         <div class="well well-lg text-center">
            <h2 style="font-size:4em; font-weight:300;">41</h2>
            <p>Technologies</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well well-lg text-center">
            <h2 style="font-size:4em; font-weight:300;">16</h2>
            <p>Workshops</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well well-lg text-center">
            <h2 style="font-size:4em; font-weight:300;">175</h2>
            <p>TechnolTalksogies</p>
        </div>
    </div>
    <div>
        <h2>Robb is testing CD!</h2>
    </div>
</div>
