@using System.Linq
@model ConCode.NET.Web.Models.SessionViewModels.AddSessionViewModel

@inject ConCode.NET.Domain.Interfaces.IVenueService venueService
@inject ConCode.NET.Domain.Interfaces.ITalkService talkService

@{
    ViewData["Title"] = "Add Session";
}

<h2>Add</h2>

<form asp-action="Add">
    <div class="form-horizontal">
        <h4>Add New Session</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="VenueId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VenueId" asp-items="@venueService.GetVenues().Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Description  })"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TalkId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TalkId" asp-items="@talkService.GetTalks().Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Title  })"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TalkTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TalkTypeId" asp-items="@talkService.GetTalkTypes().Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Name  })"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StartTime">
                    <option value="7">7:00 AM</option>
                    <option value="8">8:00 AM</option>
                    <option value="9">9:00 AM</option>
                    <option value="10">10:00 AM</option>
                    <option value="11">11:00 AM</option>
                    <option value="12">12:00 PM</option>
                    <option value="13">1:00 PM</option>
                    <option value="14">2:00 PM</option>
                    <option value="15">3:00 PM</option>
                </select>
                <span asp-validation-for="StartTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
