@inject ConCode.NET.Core.Domain.ISponsorService SponsorService

<div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title">Sponsors</h3>
    </div>
    <div class="panel-body">
@foreach (var sponsor in SponsorService.GetSponsors().ToList())
{
    <a href="@sponsor.WebsiteUrl"><img class="img-responsive" src="@sponsor.ImageUrl" /></a>
}
    </div>
    <a asp-controller="Sponsor" asp-action="Add">Become a sponsor!</a>
</div>
